
input,
button {
  padding: .35em .75em;
  border: none;
  font-size: 1.1rem;
  text-decoration: none;
  margin-bottom: .35em;
}

input {
    background: #e9e9e9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

button {
    text-transform: uppercase;
    color: #EDFFEC;
    background: #9792E3;
    border-radius: 0 2px 2px 0;
    font-weight: 300;
}

div.container {
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    max-width: 1000px;
}

div#display {
    margin-bottom: 1em;
}

div#display > span.character {
    font-size: 40px;
    margin-left: 10px;
}

.btn-block,
label {
    display: block;
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
}

.input-group {
    display: flex;
}

.input-group > input {
    flex: 1 0 8em;
}

.input-group > button {
    flex: 0 0 auto;
}

input#input-guess {
    width: 100%;
}